
src/*.tif
src/*.prj
src/*.xml
src/*.asc
src/algo/resultatSimulation.json

**/.idea/
**/__pycache__/
**/cmake-build-debug/
**/.vscode/

paths.json

data/communication/*
!data/communication/parametreAlgo-copy.json
data/maps/map.json

# Exclude tif data files 
*.tif

# Exclude departements folder
data/altimetrics/departements/*
src/Epilobe/params.json

# Build folders
cmake*/

# IDE config folders
.idea/
.vscode/